
<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- custom js file -->
<script src="js/index.js" charset="utf-8"></script>

</body>

<footer>
  Copyright 2020, Nitish mishra
</footer>

</html>